@typeparam TItem

<table class="data-table">
    <thead>
        @HeaderTemplate
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            @RowTemplate(item)
        }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<TItem> Items { get; set; } = [];

    [Parameter, EditorRequired]
    public RenderFragment HeaderTemplate { get; set; } = default!;

    [Parameter, EditorRequired]
    public RenderFragment<TItem> RowTemplate { get; set; } = default!;
}
